<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css"
          integrity="sha384-D+9gmBxUQogRLqvARvNLmA9hS2x//eK1FhVb9PiU86gmcrBrJAQT8okdJ4LMp2uv" crossorigin="anonymous">

    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"
            integrity="sha384-483A6DwYfKeDa0Q52fJmxFXkcPCFfnXMoXblOkJ4JcA8zATN6Tm78UNL72AKk+0O"
            crossorigin="anonymous"></script>

    <!-- To automatically render math in text elements, include the auto-render extension: -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/contrib/auto-render.min.js"
            integrity="sha384-yACMu8JWxKzSp/C1YV86pzGiQ/l1YUfE8oPuahJQxzehAjEt2GiQuy/BIvl9KyeF" crossorigin="anonymous"
            onload="renderMathInElement(document.body);"></script>
</head>
<body>
<form action="#" th:action="@{/resultPage}" th:object="${form}" th:method="GET">
    <div>
        Выбор метода решения:
        <label>Эйлера</label>
        <input type="radio" th:field="*{method}" value="1"/>
    </div>
    <p></p>
    Выбор функции:
    <div>
        <label>1:</label>
        <input type="radio" th:field="*{numberOfFunction}" value="1"/>
        \(y+(1+x)y^2\)
    </div>
    <div>
        <label>2:</label>
        <input type="radio" th:field="*{numberOfFunction}" value="2"/>
        \(x + \cos(y/\sqrt{\smash[b]{5}})\)
    </div>
    <div>
        <label>3:</label>
        <input type="radio" th:field="*{numberOfFunction}" value="3"/>
        \(6 * x^2 + 5 * x * y\)
    </div>
    <p></p>
    Введите значения a:
        <input type="number" th:field="*{a}" step="any"/>
    <p/>
    Введите значения b:
        <input type="number" th:field="*{b}" step="any"/>
    <p/>


    Введите h:
    <input type="number" th:field="*{h}" step="any"/>

    Введите y0:
    <input type="number" th:field="*{y0}" step="any"/>

    <input type="submit" value="Submit"/>
</form>
</body>
</html>